<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" 
        class="navbar-toggle collapsed"  
        (click)="isCollapsed = !isCollapsed"
        aria-expanded="false" 
        style="margin-top: 40px;"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h4 class="navbar-brand" >Ecommerce</h4>
      </div>

      <div class="collapse navbar-collapse"
      [collapse]=isCollapsed
      style="top: 0px; position: relative;"
      >
        <ul 
          class="nav navbar-nav navbar-right hidden-xs menu-right"
          style="
          display:inline-block;
          margin-right: 20px;
          margin-top: -0px;"
          >
            <li><a >
              <img 
                  src="assets/images/logo.jpg" 
                  alt="E Commerce" 
                  style="max-height:50px; max-width:50px;" 
                  class="img-responsive img-circle"
                  href="/"
                  >   
            </a></li>
          <li><a 
            style="cursor: pointer; font-size: 30px;" >
            {{username}}</a></li>
            <li class="dropdown">
              <a class="dropdown-hover"><i class="glyphicon glyphicon-menu-down"></i></a>
                <ul class="dropdown-menu dropdown-hover-menu">
                  <li><a (click)="logout()">Logout</a></li>
                </ul>
              </li>  
        </ul>
        
      <ul class="nav navbar-nav  visible-xs">
        <li><a href="/orders">Orders</a></li>
        <li><a href="/merchants">Merchants</a></li>
        <li><a href="/">Customers</a></li>
        <li><a href="/">Design</a></li>
        <li><a href="/">Setting</a></li>
        <li><a href="/">Logout</a></li>
        </ul>
      </div>
  </nav>
</header>

