input.ng-invalid.ng-touched{
    border: 1px solid #F07D7D;
}

.error {
    color: red;
    border: 1px solid #ccc;
    padding: 10px;
    background: #faffbd;
	text-align: center;
} 

.info {
    width: 85%;
    border-collapse: collapse;
    height: 100%;
    margin-top: 20px;
    border: rgb(63, 63, 63);
    box-shadow: 0 0 30px -3px rgba(175, 175, 175, 0.5);
    padding:30px;
}

  /* Input File */
  input[type=file] {
    display:none;
    margin:10px;
    }


  .inputfile + label {
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    /*overflow: hidden;*/
    margin-bottom: 0;
    font-weight: normal;
}
