<div class="row">
    <!-- <div class="col-xs-12 col-sm-10 col-sm-offset-1" -->
  <div class="col-xs-12"
       style="margin-top:30px; width: 85%;">
    <div class="row list-inline col-xs-12" style=" width: 100%;">
      <div class="row left ">
          <h3>Merchant</h3>
          <h2 *ngIf="!isLoading"> {{message.merchant_display_name}}</h2>
      </div>
      <!-- <div class="col-xs-7"></div> -->
      <div class="row right ">
          <button 
          class="btn btn-rounded btnAdd"
          routerLink="/merchants/edit"
          (click)="editMerchant()"
          >
          Edit
          </button>
          <button 
          class="btn btn-rounded btnAdd"
          routerLink="/merchants/merchant/catalogue"
          >
          Catalogue
          </button> 
      </div>
    </div>
    <section class="InterimLoader" *ngIf="isLoading">
      <div class="loaderParent">
          <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
      </div>
    </section>
    <div class="row">
      <div 
      *ngIf="!isLoading"
      class="col-xs-12 info container-outer">
        <h2>Merchant Info</h2>
        <hr>
        <div class="container-inner ">
          <div class="row">
              <div class="col-xs-3" >
                  <p class="heading">Id</p>
                  <p class="value">{{message.merchant_id}}</p>
              </div>
              <div class="col-xs-3" >
                <p class="heading">Name</p>
                <p class="value">{{message.merchant_display_name}}</p>
              </div>
              <div class="col-xs-3" >
                <p class="heading">Email</p>
                <p class="value">{{message.merchant_email}}</p>
              </div>
              <div class="col-xs-3" >
                <p class="heading">Phone Number</p>
                <p class="value">{{message.merchant_phone_no}}</p>
              </div>
          </div>
          <hr class="line">
          <div class="row ">
                  <div class="col-xs-9" >
                      <p class="heading">Address</p>
                      <p class="value">{{message.merchant_address}}</p>
                  </div>
                  <!--<div class="col-xs-3" >
                     <p class="heading">Display Address</p>
                    <p class="value">{{message.merchant_display_name}}</p> 
                  </div>
                  <div class="col-xs-3" >
                     <p class="heading">Status</p>
                    <p class="value">Enabled</p> 
                  </div>-->
                  <div class="col-xs-3" >
                    <p class="heading">Vendor Name</p>
                    <p class="value">{{message.merchant_first_name}}</p>
                  </div>
                  <!-- <div class="vl"></div> -->
          </div>
          <hr class="line">
          <div class="row ">
                  <div class="col-xs-6" >
                      <p class="heading">Description</p>
                      <p class="value">{{message.merchant_description}}</p>
                  </div>
                  <!-- <div class="col-xs-3" >
                    <p class="heading">Serving Radius</p>
                    <p class="value">Serving Radius</p> 
                  </div> -->
                  <div class="col-xs-3" >
                    <p class="heading">Logo</p>
                    <img 
                    id="blah" 
                    [src]="displayImage"
                    class="img-responsive " 
                    width="60" 
                    height="60"
                    >
                  </div>
                  <div class="col-xs-3" >
                    <p class="heading">Rating</p>
                    <p class="value">No Rating</p>
                  </div>
                  
                  <!-- <div class="vl"></div> -->
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
