<div class="row">
  <div class="col-xs-12 col-md-8 col-sm-12"
       style="margin-top:30px;">
    <div class="row list-inline">
      <div class="row left">
          <h3>Merchant</h3>
          <h2>Merchant Name</h2>
      </div>
        <div class="row right">
            <button 
            class="btn btn-rounded btnAdd"
            >
            Edit
            </button>
            <button 
            class="btn btn-rounded btnAdd"
            routerLink="/merchants/merchant/catalogue"
            >
            Catalogue
            </button> 
        </div>
        
    </div>
    <div class="row">
      <div class="col-xs-12 info container-outer">
        <h2>Merchant Info</h2>
        <hr>
        <div class="container-inner ">
          <div class="row">
              <div class="col-xs-2" >
                  <p class="heading">Id</p>
                  <p class="value">1234</p>
              </div>
              <div class="col-xs-2" >
                <p class="heading">Name</p>
                <p class="value">Merchant Name</p>
              </div>
              <div class="col-xs-2" >
                <p class="heading">Email</p>
                <p class="value">Email Address</p>
              </div>
              <div class="col-xs-2" >
                <p class="heading">Phone Number</p>
                <p class="value">9999999999</p>
              </div>
              <div class="col-xs-2" >
                  <p class="heading">Phone Number</p>
                  <p class="value">9999999999</p>
              </div>
              <div class="col-xs-2" >
                  <p class="heading">Phone Number</p>
                  <p class="value">9999999999</p>
              </div>
            </div>
            <hr class="line">
              <div class="row ">
                  <div class="col-xs-2" >
                      <p class="heading">Address</p>
                      <p class="value">Full Address</p>
                  </div>
                  <div class="col-xs-2" >
                    <p class="heading">Display Address</p>
                    <p class="value">Address</p>
                  </div>
                  <div class="col-xs-2" >
                    <p class="heading">Status</p>
                    <p class="value">Enabled</p>
                  </div>
                  <div class="col-xs-2" >
                    <p class="heading">Store Name</p>
                    <p class="value">Name</p>
                  </div>
                  <div class="col-xs-2" >
                      <p class="heading">Phone Number</p>
                      <p class="value">9999999999</p>
                  </div>
                  <div class="col-xs-2" >
                      <p class="heading">Phone Number</p>
                      <p class="value">9999999999</p>
                    </div>
                  <!-- <div class="vl"></div> -->
              </div>

              <hr class="line">

              <div class="row ">
                  <div class="col-xs-2" >
                      <p class="heading">Description</p>
                      <p class="value">1234</p>
                  </div>
                  <div class="col-xs-2" >
                    <p class="heading">Serving Radius</p>
                    <p class="value">Serving Radius</p>
                  </div>
                  <div class="col-xs-2" >
                    <p class="heading">Logo</p>
                    <p class="value"></p>
                  </div>
                  <div class="col-xs-2" >
                    <p class="heading">Rating</p>
                    <p class="value">No Rating</p>
                  </div>
                  <div class="col-xs-2" >
                      <p class="heading">Phone Number</p>
                      <p class="value">9999999999</p>
                  </div>
                  <div class="col-xs-2" >
                      <p class="heading">Phone Number</p>
                      <p class="value">9999999999</p>
                    </div>
                  <!-- <div class="vl"></div> -->
              </div> 
          </div>
        </div>
       
       
      </div>
  </div>
</div>
