<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="row left" style="margin-top: 40px;">
                <h2>Merchant Name</h2>
            </div>
              <div class="row right" style="margin-top: 20px;">
                  <button 
                  class="btn btn-rounded btndownload"
                  >
                  <i class="fa fa-download"></i>
                  </button>
                  <button 
                    class="btn btn-rounded btnAdd right"
                    routerLink="/merchants/new"
                    >
                    <i class="fa fa-plus"></i>
                    Merchant
                  </button>
              </div>
              
          </div>
    </div>



    <div class="col-xs-6" >
      <div class="row info2">

        <div class="row">
          <div class="heading left">
            <h3>Super Category (2)</h3>
          </div>
          <button 
              class="btn btn-rounded btnnew right"
              (click)="openModal(template)"
          >
          <i class="fa fa-plus"></i>
          </button>
          
        </div>
        
        <div class="row col-xs-12 list">
          <a            
            *ngFor="let category of superCategories"
            class="list-group-item clearfix">
          <div class="pull-left">
            <h4 class="list-group-item-heading">{{ category.name }}</h4>
          </div>
          <div class="pull-right dropdown">
            <button 
              class="btn btn-rounded btnlist right dropdown-hover"
            >
            <i class="fa fa-ellipsis-v"></i>

            <ul class="dropdown-menu dropdown-hover-menu">
              <li>
                <a 
                (click)="addProduct(productTemplate)"
                >Add Products 
                  <i class="fa fa-plus right"></i>
                </a></li>
              <li>
                <a 
                (click)="addCategory(template)"
                >Add Category 
                <i class="fa fa-plus right"></i>
              </a></li>
              <li><a href="/">Edit
                  <i class="fa fa-pencil right"></i>
              </a></li>
              <li><a href="/">Delete
                  <i class="fa fa-trash right"></i>
              </a></li>
              <li><a href="/">Disable
                  <i class="fa fa-ban right"></i>
              </a></li>
            </ul>

            </button>


          </div>
          </a>
        </div>

      </div>
      
      <div class="row info2">

        <div class="row">
          <div class="heading left">
            <h3>Category (2)</h3>
          </div>
          <button 
              (click)="addCategory(template)"
              class="btn btn-rounded btnnew right"
          >
          <i class="fa fa-plus"></i>
          </button>
          
        </div>
        
        <div class="row col-xs-12 list">
          <a            
            *ngFor="let category of Categories"
            class="list-group-item clearfix">
          <div class="pull-left">
            <h4 class="list-group-item-heading">{{ category.name }}</h4>
          </div>
          <div class="pull-right dropdown">
              <button 
                class="btn btn-rounded btnlist right dropdown-hover"
              >
              <i class="fa fa-ellipsis-v"></i>
  
              <ul class="dropdown-menu dropdown-hover-menu">
                <li><a 
                    (click)="addProduct(productTemplate)"
                    >Add Products 
                      <i class="fa fa-plus right"></i>
                    </a></li>
                  <li>
                    <a 
                    (click)="addSubCategory(template)"
                    >Add Category 
                    <i class="fa fa-plus right"></i>
                  </a></li>
                  <li><a href="/">Edit
                      <i class="fa fa-pencil right"></i>
                  </a></li>
                  <li><a href="/">Delete
                      <i class="fa fa-trash right"></i>
                  </a></li>
                  <li><a href="/">Disable
                      <i class="fa fa-ban right"></i>
                  </a></li>
              </ul>
  
              </button>
  
  
            </div>
          </a>
        </div>

      </div>


      <div class="row info2">

        <div class="row">
          <div class="heading left">
            <h3>Sub Category (1)</h3>
          </div>
          <button 
              (click)="addSubCategory(template)"
              class="btn btn-rounded btnnew right"
          >
          <i class="fa fa-plus"></i>
          </button>
          
        </div>
        
        <div class="row col-xs-12 list">
          <a            
            *ngFor="let category of subCategories"
            class="list-group-item clearfix">
          <div class="pull-left">
            <h4 class="list-group-item-heading">{{ category.name }}</h4>
          </div>
          <div class="pull-right dropdown">
              <button 
                class="btn btn-rounded btnlist right dropdown-hover"
              >
              <i class="fa fa-ellipsis-v"></i>
  
              <ul class="dropdown-menu dropdown-hover-menu">
                <li><a 
                  (click)="addProduct(productTemplate)"
                  >Add Products 
                    <i class="fa fa-plus right"></i>
                  </a></li>
                <li><a href="/">Edit
                    <i class="fa fa-pencil right"></i>
                </a></li>
                <li><a href="/">Delete
                    <i class="fa fa-trash right"></i>
                </a></li>
                <li><a href="/">Disable
                    <i class="fa fa-ban right"></i>
                </a></li>
              </ul>
  
              </button>
  
  
            </div>
          </a>
        </div>

      </div>
      
    </div>




<!-- Product -->
    
    <div class="col-xs-6 info">
      <div class="row">
        <div class="heading left">
          <h3>Product (1)</h3>
        </div>
        <button 
            (click)="addProduct(productTemplate)"
            class="btn btn-rounded btnnew right"
        >
        <i class="fa fa-plus"></i>
        </button>
        
      </div>
      
      <div class="row list" style="margin-right: 15px;">
        <a            
          *ngFor="let category of products"
          class="list-group-item clearfix"
          routerLink="/merchants/merchant/catalogue/product"
          >
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ category.name }}</h4>
        </div>
        <div class="pull-right dropdown">
            <button 
              class="btn btn-rounded btnlist right dropdown-hover"
            >
            <i class="fa fa-ellipsis-v"></i>

            <ul class="dropdown-menu dropdown-hover-menu">
              <li>
                <a 
                >Delete 
                  <i class="fa fa-trash right"></i>
                </a></li>
              <li><a href="/">Edit
                  <i class="fa fa-pencil right"></i>
              </a></li>
              <!-- <li><a href="/">Add-ons
                  <i class="fa fa-cog right"></i>
              </a></li> -->
              <li><a href="/">Disable
                  <i class="fa fa-ban right"></i>
              </a></li>
            </ul>

            </button>


          </div>
        </a>
      </div> 
    </div>
  </div> 



  <ng-template #template class="model">
      <div class="modal-header">
        <h4 class="modal-title pull-left title-model">{{templateTitle}}</h4>
      </div>
      <div class="modal-body">
        <form
          (ngSubmit)="addSuperCategory(f)" 
          #f="ngForm" 
        >
        <div class="form-group">
          <label for="name">Category Name <span class="blue">*</span></label>
          <input 
          type="text" 
          id="name" 
          name="name" 
          ngModel 
          class="form-control input"
          required
          #name="ngModel"
          >
          <span 
          *ngIf="!name.valid && name.touched" 
          class="help-block">Enter Valid Input!</span>
        </div>
        <div class="form-group">
          <label for="discription">Description</label>
          <input 
          type="text" 
          id="discription" 
          name="discription" 
          ngModel 
          class="form-control input"
          required
          #discription="ngModel"
          >
          <span 
          *ngIf="!discription.valid && discription.touched " 
          class="help-block">Enter Valid Input!</span>
        </div>
        <div class="form-group">
            <input  
            type="file"  
            id="file-1" 
            class="inputfile inputfile-1" 
            name="category-pic" 
            ngModel
            accept="image/*"
            (change)="onFileChange($event.target.files)"
            >
            
            <label for="file-1">Upload Category Image
              <img 
              id="blah" 
              [src]="displayImage"
              class="img-responsive img-rounded " 
              width="100" 
              height="100"
              >
            </label>
            <p>Drag & Drop images, or 
              <!-- <a 
              type= "file"
              id="file"
              name="user-pic" 
              ngModel
              (change)="onFileChange($event.target.files)"> -->
              browse
            <!-- </a>  -->
            from computer.</p>
        </div>
        <div class="row">
            <button class="btn btn-modal" type="submit" >Add</button>
            <button class="btn btn-modal" type="button" (click)="modalRef.hide()" >Cancel</button>
        </div>
    </form>
  </div>
</ng-template>


<ng-template #productTemplate class="model">
    <div class="modal-header">
      <h4 class="modal-title pull-left title-model">Add Product to Category</h4>
    </div>
    <div class="modal-body">
      <form
        (ngSubmit)="addProductForm(f)" 
        #f="ngForm" 
      >
      <div class="form-group">
        <label for="name">Product Name <span class="blue">*</span></label>
        <input 
        type="text" 
        id="name" 
        name="name" 
        ngModel 
        placeholder="Enter Product Name"
        class="form-control input"
        required
        #name="ngModel"
        >
        <span 
        *ngIf="!name.valid && name.touched" 
        class="help-block">Enter Valid Input!</span>
      </div>
      <div class="form-group">
        <label for="discription">Description</label>
        <input 
        type="text" 
        id="discription" 
        name="discription" 
        ngModel 
        placeholder="Enter Dicription"
        class="form-control input"
        required
        #discription="ngModel"
        >
        <span 
        *ngIf="!discription.valid && discription.touched " 
        class="help-block">Enter Valid Input!</span>
      </div>
      
      <div class="form-group">
          <label for="price">Price <span class="blue">*</span></label>
          <input 
          type="text" 
          id="price" 
          name="price" 
          ngModel 
          class="form-control input"
          required
          placeholder="Standard Price For The Product"
          #price="ngModel"
          >
          <span 
          *ngIf="!price.valid && price.touched" 
          class="help-block">Enter Valid Input!</span>
        </div>


        <div class="form-group">
            <div class="checkbox" id="accceptcondition">
                <label><input 
                  type="checkbox" 
                  value="inventory_exist" 
                  name="inventory"
                  style="top: 2px;"
                  [checked]="'inventory'"
                  ngModel 
                  >Inventory</label>
            </div>
        </div>

      
      <div class="form-group">
          <input  
          type="file"  
          id="file-1" 
          class="inputfile inputfile-1" 
          name="category-pic" 
          ngModel
          accept="image/*"
          (change)="onFileChange($event.target.files)"
          >
          
          <label for="file-1">Upload Category Image
            <img 
            id="blah" 
            [src]="displayImage"
            class="img-responsive img-rounded " 
            width="100" 
            height="100"
            >
          </label>
          <p>Drag & Drop images, or browse from computer.</p>
      </div>


      <div class="form-group">
          <div class="checkbox" id="accceptcondition">
              <label><input 
                type="checkbox" 
                value="terms_accepted" 
                name="moreProducts"
                style="top: 2px;"
                ngModel 
                >Add More Products</label>
          </div>
      </div>


      <div class="row">
          <button class="btn btn-modal" type="submit" >Add</button>
          <button class="btn btn-modal" type="button" (click)="modalRef.hide()" >Cancel</button>
      </div>
  </form>
</div>
</ng-template>
