element {
    --skyblue: var(--orange);
    --black: #333333;
    --warm-grey: #8f8f8f;
    --cool-grey: #a7afba;
}
#main {
    width: 100%;
    /* height: 700px;; */
    display: -webkit-flex; /* Safari */
    display: flex;
    margin-bottom: 50px;
    height: 530px;
    /* margin-left: -60px; */
}


.col1 {
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
    /* flex-direction: row */
    /* margin-right: 20px;
    margin-left: 10px; */
    border: #333333;
    box-shadow: 0 0 30px -3px rgba(153, 153, 153, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
    height: 530px;
}

.col1 .mainRow {
    height: 95%;
    width: 100%;
}

.col2 {
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
    /* flex-direction: row */
    /* margin-right: 20px;
    margin-left: 20px; */
    border: #333333;
    /* overflow-x: hidden;
    overflow-y:auto; */
    box-shadow: 0 0 30px -3px rgba(175, 175, 175, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
    height: 530px;
}
.col3 {
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
    /* flex-direction: row */
    /* margin-right:40px;
    margin-left: 20px; */
    border: #333333;
    height: 530px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 0 30px -3px rgba(175, 175, 175, 0.5);
}

.info {
    width: 40%;
    border-collapse: collapse;
    margin-top: 20px;
    /* overflow-y: auto; */
    border: #333333;
    box-shadow: 0 0 30px -3px rgba(175, 175, 175, 0.5);
    margin-left: 160px;
}
/* .info2 {
    width: 120%;
    height: 20%;
    
    border-collapse: collapse;
    margin-top: 20px;
    border: #333333;
    box-shadow: 0 0 30px -3px rgba(175, 175, 175, 0.5);
    margin-left: 60px;
} */

.left{
    float: left;
    margin-left: 25px;
    width: 95%;
    font-size: 20px;
}
.right{
    float: right;
    margin-right: 10px;
}
.product-detail {
    padding: 15px;
}

.left h3{
    font-size: 12px;
    /* font-family: 'SFSemiBold'; */
    font-weight: bold;
}

.left h2 { 
    font-size: 26px;
    font-family: 'SFSemiBold';
    font-weight: bold;
    margin-top: -10px;
    margin-left: -40px;

}

li .right{
    text-align: right;
    padding-right: 10px;
    padding-top: 2px;
    
}
h4 {
    margin-top: 10px;
    cursor: pointer;
}
a h4 {
    color: #8f8f8f;
    font-size: 18px;
}

.btn.btnAdd {
    background-color: #333333;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 0 0px #FFFFFE;
    position: relative;
    font-family: 'SFBold';
}


.btn.btnAdd:hover{
    background-color: var(--orange); 
    color:#fff;
    /* transform:translateY(4px); */
    box-shadow: 0 1.5px 0 0px #B6B6B5;
}


.btn.btndownload {
    background-color: var(--orange);
    border: none;
    color: white;
    padding: 12px 16px;
    margin-right: 10px;
    /* margin-top:10px; */
    font-size: 13px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 0 0px #FFFFFE;
    position: relative;
}

.btn.btndownload:hover{
    background-color: var(--orange); 
    color:#fff;
    /* transform:translateY(4px); */
    box-shadow: 0 1.5px 0 0px #B6B6B5;
}

.btn.btnnew {
    background-color: var(--orange);
    border: none;
    color: white;
    padding: 12px 16px;
    margin-right: 15px;
    margin-top:10px;
    font-size:13px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 0 0px #FFFFFE;
    position: relative;
}

.btn.btnnew:hover{
    background-color: var(--orange); 
    color:#fff;
    /* transform:translateY(4px); */
    box-shadow: 0 1.5px 0 0px #B6B6B5;
}

.btn.btnnew2 {
    background-color: transparent;
    border: none;
    color: var(--orange);
    /* padding: 12px 16px; */
    margin-top:-40px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 0 0px #FFFFFE;
    position: relative;
}

.btn.btnnew2:hover{
    background-color: var(--orange); 
    color:#fff;
    /* transform:translateY(4px); */
    box-shadow: 0 1.5px 0 0px #B6B6B5;
}

.btn.btnlist {
    background-color: white;
    border: none;
    color: #333333;
    margin-right: 10px;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
}


.list {
    margin-top:10px;
    width: 100%;
}

.list a {
    cursor: pointer; 
    margin-right: -30px;
    font-size: 20px;
}
.dropdown-product-icon {
    float: right;
}

.listProduct {
    margin-top:10px;
    width: 100%;
}
.listProduct a {
    cursor: pointer; 
    margin-right: -30px;
    font-size: 20px;
}
.dropdown-menu>li:last-child>a{ 
    border:none; 
    font-weight: bold;
}

.dropdown-hover-menu {
    background-color: white;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}
.dropdown-hover-menu>li>a {
    padding: 10px 20px;
    font-size: 15px;
    line-height: 1.5;
    border-bottom: 1px solid rgb(232, 232, 232);
    display: block;
    font-weight: bold;
}
.dropdown-hover-menu>li>a:hover {
    color: var(--orange); 
}
.dropdown:hover .dropdown-hover-menu {
    display: block;
}

.card_width {
    width: 100% !important;
}



.model {
    margin-top: 40px;
}

/* Input File */
input[type=file] {
  display:none;
  margin:10px;
}

.mat-card-header-text {
    margin: 0px !important;
}

.btn.btn-modal{
    float: right;
    background-color:  #B6B6B5;
    border: none;
    color: #333333;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 45px;
    cursor: pointer;
    box-shadow: 0 4px 0 0px #FFFFFE;
    position: relative;
    /* margin-right: 20px; */
    /* margin-bottom: 20px; */
}

.btn.btn-modal:hover{
    background-color: #333333; 
    color:#fff;
    /* transform:translateY(4px); */
    box-shadow: 0 1px 0 0px #B6B6B5;
}

.blue{
    color: var(--orange); 
}




/* loader */
  div.InterimLoader{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: transparent;
  }
  
  div.InterimLoader div.loaderParent{
    /* text-align: center; */
    position: fixed;
    left: 45%;
    top: 40%;
    width: 150px;
    height: 150px;
  }
  
  div.InterimLoader .fa{
    font-size: 7em !important;
    position: relative;
    top: 20%;
  }
  

  h3 i {
    font-size: 20px;
    margin-right: 20px;
}

.info {
    width: 90%;
    border-collapse: collapse;
    padding: 20px;
    margin-top: 20px;
    border: rgb(63, 63, 63);
    box-shadow: 0 0 30px -2px rgba(175, 175, 175, 0.5);
    margin-left: 30px;
}

.headingProduct h3 {
    /* margin-top: -5px; */
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    /* font-weight: bold; */
    padding-left: 10px; 
}
.headingProduct textarea {
    width: 100%;
    align-content: left;
    overflow:auto;
    border: none;
}
.description p {
    margin-top: 10px;
    color: rgba(78, 77, 77, 0.6);
    font-size: 12px;
    margin-left: 5px;
}

hr {
    margin-left: -15px;
    margin-top: 5px;
    margin-right: -15px;
    display: block;
    height: 1px;
    
}

.inventory h5 {
    margin-top: -5px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    float: left;
    font-size: 15px;
}

.addons h5 {
    margin-top: -5px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    float: left;
    font-size: 15px;
}

.listAddOns h6 {
    margin-top: -5px;
    font-family: 'Lato', sans-serif;
    color: rgba(78, 77, 77, 0.6);
    font-size: 12px;
}

.listAddOns a {
    color: rgb(78, 174, 223);
    float: right;
    margin-top: -27px;
    font-size: 12px;
    margin-right: 10px; 
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 31px;
    margin-top: -15px;
    margin-bottom: 5px;
    float: right;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(78, 174, 223);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(78, 174, 223);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .wrapper {
    /* max-width: 650px; */
    width: 88%;
    position: relative;
    margin : 20px;
    /* margin-right: 10px; */

}

.rowProduct {
    width: 70%;
}


.accordion {
    width: 113%;
    
}

.accordion.overflow {
    background-color: #333333;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 0 0px #FFFFFE;
    position: relative;
    font-family: 'SFBold';
}

.accordion.overflow:hover{
    background-color: var(--orange); 
    color:#fff;
    /* transform:translateY(4px); */
    box-shadow: 0 1.5px 0 0px #B6B6B5;
} 


/* sub-accordion */

.sub-accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    transition: 0.4s;
}

/* .active, .sub-accordion:hover {
    background-color: #ccc; 
} */

.active .panel {
    padding: 0 18px;
    display: block;
    background-color: white;
    overflow: hidden;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}


.listLevel1 {
    width: 113%;
    /* font-size: 25px; */
}

/* .subfolder {
    font-size: 25px;
} */


.accordion {
    color: #444;
    cursor: pointer;
    width: 113%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
}
.accordion ul {
    list-style-type: none;
}

accordionTitle {
    font-weight: bold;
    font-size: 25px;
}
/* .active, .accordion:hover {
    background-color: #ccc; 
} */

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
ul {
    list-style-type: none;
}

.example-card {
    width: 109%;
    /* width: 113%; */
    overflow-y: auto;
    overflow-x: hidden;
    
}
/* .example-card:hover {
    transform:translateY(4px);
} */

.example-header-image {
    float: right;
    /* flex: 1 1 auto; */
    /* margin-left: 280px;
     */
     margin-left: 250px;
     margin-top: -35px;
    /* margin-right: -100px; */
    
}

.title h4 {
    color: #8f8f8f;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

/* .title h4:hover {
    transform:translateY(4px);
} */

.active {
    color: rgb(228, 53, 53);
}

/* .cardContent h5 {
    font-size: 10px;
} */

/* .title {
    display: -webkit-flex; 
    display: flex;
}

.titleHead {
    -webkit-flex: 0.2; 
    -ms-flex: 0.2; 
    flex: 0.2;
}

.titleBtn {
    -webkit-flex: 0.8;  
    -ms-flex: 0.8;  
    flex: 0.8;
} */

ul li{
    padding: 2px;
}

/* list supercategories */

.btn.btnNewSuperCategory {
    background-color:  var(--orange);
    border: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 5px;
    box-shadow: 0 4px 0 0px #FFFFFE;
    position: relative;
}

.btn.btnNewSuperCategory:hover{
    background-color: var(--orange); 
    color:#fff;
    /* transform:translateY(4px); */
    box-shadow: 0 1.5px 0 0px #B6B6B5;
}



/*  loader for each coloumn */

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid var(--orange);
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin:50%;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



/*  to color menu option */
.menuOption:hover {
    color: var(--orange)
}

/* .menuOption i {} */

/* .detail-card */

/* .image {
    width: 10px;
    background-image: url('../../../../assets/images/upload.png');
} */
/* showTable {
    height: 300px;
    width: 300px;
    margin: 10px;
    overflow: auto;
}
table {
    border: 1px solid #dddddd;
    overflow-x: auto;
    margin: 10px;
    display:block; 
} 


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
*/

.styleviewmore {
    color: var(--orange); 
    text-decoration: underline;
    text-align: center
}

.alert p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.alert button {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-btn {
    font-size: 25px;
    line-height: 1.5;
    color: #fff;
    /* text-transform: uppercase; */
    width: 95%;
    height: 55px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    margin: 15px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login-btn:hover {
    background: #353535;
  }

  .my-float{
    margin-top: 2px;
    float: right;
    /* margin-left:-10px; */
    color: #428BCA
}

.my-float:hover {

  transform: translateY(4px);
  /* box-shadow: 0 1.5px 0 0px #B6B6B5; */
}

.name {
    color: #8f8f8f; 
    font-weight: bold
}
h6.name {
    font-size: 14px;
}


.value {
    color: #444444;
    font-weight: bold;
}
h5.value {
    font-size: 16px;
}

.subpart {
    border: #333333;
    box-shadow: 0 0 30px -3px rgba(153, 153, 153, 0.5);
    width: 100%;
    margin: 0;
    padding-left: 10px;
    margin-bottom: 15px; 
    /* padding: 10px; */
    /* margin-left:  5px; */
}

.attribute-list {
    float: left; 
    /* margin: 5px;  */
    border: 1px solid #444444; 
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;

}

.attributeSubpart {
    padding-left: 15px;
    padding-right: 15px;
}

.detailpart {
    height: 320px;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    padding:0;
    margin:0;
    width: 100%;
    margin-top: 10px;
}
/* .product-detail-part {
    overflow-y: scroll;
    overflow-x: hidden;
} */

.quantityBtn {
    width : 100%;
    margin-top: 5px;
}
.quantityBtn:hover {
    background-color: white;
}

.table {
    border: #333333;
    box-shadow: 0 0 30px -3px rgba(153, 153, 153, 0.5);
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3)
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(162, 225, 248);
    /* border-top-color: #9370DB; */
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(85, 182, 211);
    /* border-top-color: #BA55D3; */
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(0, 187, 255);
    /* border-top-color: #FF00FF; */
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.error {
    color: red;
    border: 1px solid #ccc;
    padding: 10px;
    background: #faffbd;
    text-align: center;
} 
/* .lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
   */
/* not verified user */

.vendor_verification p{
    font-size: 15px;
    color:#6c757d ;
  }

.vendor_verification h1{
    font-size:25px;
    color:#f7941e;
}


.vendor_verification .btn.btn-primary {
    background-color: transparent;
    color: #f7941e;
    border: 1px solid #f7941e;
}

.vendor_verification .btn.btn-primary:hover {
    background-color: #f7941e;
    color: #fff;
    border: 1px solid #f7941e;
    transition: 0.8s;
}

/* .vendor_verification {
    margin-top: 60px;
} */

.vendor_verification .jumbotron{
  background-color:#fff ;
}

.vendor_verification .jumbotron {
    padding: 4rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 5px #f2f2f7;
    width: 50%;
}

.notreceive_call {
    padding-top: 30px;
}

.logo img{
  width:100px;
  padding-bottom:30px;
}

@media screen and (min-width:320px) and (max-width:768px){
    .vendor_verification .jumbotron{
        width:100%;
    }
}

.main-modal {
    margin-top: 130px  !important; 
}
p.notreceive_call a {
    cursor: pointer;
}



.modal-dialog {
    margin: 130px auto !important;
}


/* upgrade plan */


.upgrade_plan .btn.btn-danger {
    background-color: transparent;
    color: #f7941e;
    border: 1px solid #f7941e;
    width: 130px;

}

.upgrade_plan .btn.btn-danger:hover {
    background-color: #f7941e;
    color: #fff;
    border: 1px solid #f7941e;
    transition: 0.8s;

}

.upgrade_plan {
    margin-top: 60px;
}

.upgrade_plan .jumbotron{
  background-color:#fff ;
}

.upgrade_plan .jumbotron {
    padding: 4rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 5px #f2f2f7 ;
    width: 50%;

}


 

  .upgrade_plan .form-control {
      border: none;
      border-bottom: 1px solid #ced4da;
      border-radius: 0px;
  }
       
  @media screen and (min-width:320px) and (max-width:768px){
    .upgrade_plan .jumbotron{
      width:100%;
    }
  }






.current_plans  .btn.btn-primary {
    background-color: transparent;
    color: var(--orange);
    border: 1px solid var(--orange);
    width: 80%;
    margin-top:10px;
}

.current_plans  .btn.btn-primary:hover {
    background-color: var(--orange);
    color: #fff;
    border: 1px solid var(--orange);
    transition: 0.8s;
}

/* .current_plans {
    margin-top: 60px;
} */

.current_plans .jumbotron{
  background-color:#fff ;
}

.current_plans .jumbotron {
    padding: 4rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 5px #f2f2f7;
    width: 55%;
}

.logo img{
  width:100px;
  padding-bottom:30px;
}

.current_plans h1{
    font-size:25px;
    color:var(--orange);
  }

  .fa-info-circle {
      color: var(--orange);
      font-size: 34px;
      cursor: pointer;
  }
  .popup{
    margin-top: 30px;
  }
  
         
  @media screen and (min-width:320px) and (max-width:768px){
    .current_plans .jumbotron{
      width:100%;
    }
  }

/* .main-body {
      margin-left: 0px;
} */
.pull-right {
    margin-top: -34px;
}


/* /* add attribute /

.add-value-btn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
  
.add-value-btn:hover {
    background-color: #bbb;
}
.btn.btn-add-attribute {
    background-color: #444444;
    border: none;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0 4px 0 0px #FFFFFE;
    position: relative;
}
  
.btn.btn-add-attribute:hover{
    background-color: #000000; 
    color:#fff;
    box-shadow: 0 1.5px 0 0px #B6B6B5;
}

.btn.btn-cancel-attribute{
    height: auto;
    color: #333333;
    font-size: 16px;
    border-radius: 45px;
    cursor: pointer;
    box-shadow: 0 4px 0 0px #FFFFFE;
    position: relative;
}
  
.btn.btn-cancel-attribute:hover{
    background-color: #B6B6B5; 
    color:#fff;
    box-shadow: 0 1px 0 0px #B6B6B5;
}
*/
  

#myInput {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    color: #444444;
    font-size: 16px;
    border: 1px solid rgba(175, 175, 175, 0.5);
}



/* ul {
    list-style-type: none;
  }
   */

  /* .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-color: rgba(175, 175, 175, 0.5);
    border-style: solid;
    border-width: 0.5px;
    box-shadow: 0 0 30px -3px rgba(175, 175, 175, 0.5);
  } */
  
  
  /* .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkbox {
     font-size: 20px;
  }
  input[type="checkbox"]{
    width: 15px;
    height: 15px;
    background-color: transparent
  }
   */
  
  
.add-attribute ul {
    margin: 0;
    padding: 0;
  }
  
  
.add-attribute  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
.add-attribute ul li:nth-child(odd) {
    background: #dfdede;
  }
  
  
.add-attribute ul li:hover {
    background: #ddd;
  }
  
  
.add-attribute ul li.checked {
    background: #888;
    color: #fff;
  }
  
  
.add-attribute  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  
.add-attribute  .header {
    background-color: transparent;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  

.add-attribute .header:after {
    content: "";
    display: table;
    clear: both;
  }


  .wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
  }
  
  .box {
    color: #444444;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }


  .get_attribute_button .btn.btn-primary {
    color: #fff;
    border: none;
    padding: 7px 30px;
    background-color: var(--orange);
}

.get_attribute{
  margin-top:20px;
}
.get_attribute h4{
    font-weight:bold;
    color: var(--orange);
}
.get_attribute p {
    border-bottom: 1px solid #d2d2d7;
}

.get_attribute_button{
  width:100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.get_attribute .vertical-menu {
    height: 320px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 0px 8px 2px #d2d2d7;
    padding: 12px;
    margin-top: 10px;
}

.get_attribute  .btn.btn-default {
    padding: 6px 24px;
    background-color: #fff;
    border: 1px solid var(--orange);
}
 

/* =========================== */

.catalogue_page .vertical-menu{
    overflow-x: hidden; 
    padding: 15px 10px;
    background-color: #fff;
    box-shadow: 0px 0px 9px 3px #f2f2f2;
}

.catalogue_page .dropdown-menu a {
    padding: 10px !important;
    font-size: 14px;
}

.catalogue_page .dropdown-toggle {
    background-color: transparent;
    border:none;
}
.catalogue_page .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: transparent !important;
    border:none !important;
}


.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus{
    box-shadow: none;   
}


.catalogue_page .fa-ellipsis-v {
    color: #cdcdcd;
    font-size: 21px;
}

.catalogue_page .list-group-item {
    padding: 6px 6px;
    font-size: 10px;
}

.catalogue_page .svg-inline--fa {
    font-size: 22px;
    margin-right: 10px;
}

.catalogue_page .sc_heading {
    background-color: transparent;
    padding: 12px;
    margin-bottom: 10px;
}
.catalogue_page .products {
    width: 100%;
}

.products li {
    list-style: none;
    background-color: #f2f2f2;
    padding: 10px;
}

.products ul {
    padding-left: 0px;
}

.Product_detail {
    font-size: 12px;
}

.sc_heading .svg-inline--fa.fa-plus-circle.fa-w-16 {
    float: right;
    color:#f7941e;
    cursor:pointer;
    font-size: 30px;
}