<div class="row">
    <!-- <div class="col-xs-12 col-md-10 col-sm-10 col-sm-offset-1" -->
  <div class="col-xs-12 "
       style="margin-top:30px;
              width:90%">
    <div class="row list-inline">
        <h3 class="left">Merchants</h3>
        <button 
        class="btn btn-rounded btnAdd right"
        routerLink="/merchants/new"
        >
        <i class="fa fa-plus"></i>
        Merchant
      </button>
    </div>

    <section  *ngIf="isLoading">
        <div class="loading">Loading&#8230;</div>
    </section>

    <div class="row">
        <table>
          <tr 
          class="container-inner ">
            <th 
            style="width: 5%"
            >Merchant Id</th>
            <th
            style="width: 15%"
            >Store Name</th>
            <th
            style="width: 20%"
            >Email</th>
            <th
            style="width: 25%"
            >Address</th>
            <th
            style="width: 15%"
            >Phone No.</th>
            <th
            style="width: 15%"
            >
              Status
            </th>
            <th style="width: 5%"></th>
          </tr>
          <ng-container *ngIf="!isLoading">
              <tr 
              *ngFor="let merchant of merchants"
              >
                <td 
                  style="cursor: pointer;"
                  routerLink="/merchants/merchant/info"
                  (click)="info(merchant)"  
                  class="id">{{ merchant.merchant_id }}</td>
                <td>{{ merchant.merchant_display_name}}</td>
                <td>{{merchant.merchant_email}}</td>
                <td>{{merchant.merchant_address}}</td>
                <td
                style="padding-right: 5px"
                >{{merchant.merchant_phone_no}}</td>
                <td
                style="padding-right: 5px"
                >{{merchant.merchant_verification_status}}</td>
                <td><i 
                    (click)="openModal(template,  merchant)"
                    class="fa fa-times deleteIcon"></i></td>
                    <!-- (click)="deleteMerchant(merchant.merchant_id)" -->
              </tr>
          </ng-container>
          
      </table>
  
      <!-- Pagination -->
      <mat-paginator 
              class="paginator"
              [length]="length"
              [pageSize]="pageSize"
              style="font-size: 16px;"
              (page)="pageEvent = changePage($event)">
      </mat-paginator>



      <!-- <div class="row">
        
        <div class="pagination pagination-sm right">
            
          <a href="#">&laquo;</a>
          <a 
          (click)="changePage()" 
          class="active"
          *ngFor="let page of countArray"
          >{{page}}</a>
          <a href="#">&raquo;</a>
        </div>
      </div> -->
      
    
    </div>
    


        
  </div>
</div>



<!-- <mat-paginator 
class="paginator"
[length]="length"
[pageSize]="pageSize"
[pageSizeOptions]="pageSizeOptions"
(page)="pageEvent = changePage($event)">
</mat-paginator> -->

 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><strong> Delete Merchant </strong></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <h4>Are you sure you want to delete {{deleteMerchnat.merchant_display_name}} ? </h4>

        <hr>

      <div class="row"
          style="float: right; margin-right: 18px;"
      >
        <button class="btn btnAdd btn-primary"
          (click)="modalRef.hide()"
          >Cancel</button>
        <button 
          (click)="deleteMerchant(deleteMerchnat.merchant_id)"
          class="btn btnAdd btn-primary"> Delete </button>
      </div>
      <div class="row"></div>
      <div class="row"></div>
  </div>
</ng-template>