<div class="row">
  <div class="col-xs-12 col-md-10 col-sm-10 col-sm-offset-1"
       style="margin-top:30px;
              width:90%">
    <div class="row list-inline">
        <h3 class="left">Merchants</h3>
        <button 
        class="btn btn-rounded btnAdd right"
        routerLink="/merchants/new"
        >
        <i class="fa fa-plus"></i>
        Merchant
      </button>
    </div>

    <section  *ngIf="isLoading">
        <div class="loading">Loading&#8230;</div>
    </section>

    <div class="row">
        <table>
          <tr 
          class="container-inner ">
            <th>Merchant Id</th>
            <th>Store Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone No.</th>
          </tr>
          <ng-container *ngIf="!isLoading">
              <tr 
              *ngFor="let merchant of merchants"
              routerLink="/merchants/merchant/info"
              (click)="info(merchant)"
              >
                <td class="id">{{ merchant.merchant_id }}</td>
                <td>{{ merchant.merchant_first_name}}</td>
                <td>{{merchant.merchant_email}}</td>
                <td>{{merchant.merchant_address}}</td>
                <td>{{merchant.merchant_phone_no}}</td>
                
              </tr>
          </ng-container>
          
      </table>
  
      <!-- Pagination -->
      <mat-paginator 
              class="paginator"
              [length]="length"
              [pageSize]="pageSize"
              (page)="pageEvent = changePage($event)">
      </mat-paginator>



      <!-- <div class="row">
        
        <div class="pagination pagination-sm right">
            
          <a href="#">&laquo;</a>
          <a 
          (click)="changePage()" 
          class="active"
          *ngFor="let page of countArray"
          >{{page}}</a>
          <a href="#">&raquo;</a>
        </div>
      </div> -->
      
    
    </div>
    


        
  </div>
</div>



<!-- <mat-paginator 
class="paginator"
[length]="length"
[pageSize]="pageSize"
[pageSizeOptions]="pageSizeOptions"
(page)="pageEvent = changePage($event)">
</mat-paginator> -->