<form class="well form-horizontal" action="/thing/createThing" method="post" id="contact_form" enctype="application/json">
    <fieldset>


        <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Word</label>
                <div class="col-md-6 inputGroupContainer" style=' width="283px"'>
                    <div class="input-group">
                        <input name="word" placeholder="Thing word" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-6 inputGroupContainer" style=' width="283px"'>
                    <div class="input-group">

                    <input name="name" placeholder="Thing Name" class="form-control" type="text">           </div>
                </div>
            </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <button type="submit" class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT
                    <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
            </div>
        </div>

    </fieldset>
</form>


<!-- /.container -->

<script>
    $(document).ready(function () {

        // function bs_input_file() {
        //     $(".input-file").before(
        //         function () {
        //             if (!$(this).prev().hasClass('input-ghost')) {
        //                 var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
        //                 element.attr("name", $(this).attr("name"));
        //                 element.change(function () {
        //                     element.next(element).find('input').val((element.val()).split('\\').pop());
        //                 });
        //                 $(this).find("button.btn-choose").click(function () {
        //                     element.click();
        //                 });
        //                 $(this).find("button.btn-reset").click(function () {
        //                     element.val(null);
        //                     $(this).parents(".input-file").find('input').val('');
        //                 });
        //                 $(this).find('input').css("cursor", "pointer");
        //                 $(this).find('input').mousedown(function () {
        //                     $(this).parents('.input-file').prev().click();
        //                     return false;
        //                 });
        //                 return element;
        //             }
        //         }
        //     );
        // }

        // $(function () {
        //     bs_input_file();
        // });

        
        $('#contact_form').bootstrapValidator({
            // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                word: {
                    validators: {
                        notEmpty: {
                            message: 'Please type a word'
                        }
                    }
                },
                name: {
                    validators: {
                        notEmpty: {
                            message: 'Please type a name'
                        }
                    }
                }
            }
        })


            // .on('success.form.bv', function (e) {

            //     $('#contact_form').data('bootstrapValidator').resetForm();
            //     e.preventDefault();
            //     var $form = $(e.target);
            //     var bv = $form.data('bootstrapValidator');
            //     var formData = new FormData(document.getElementById('contact_form'));
            //     // Use Ajax to submit form data
            //     $.ajax({
            //         type: 'POST',
            //         url: '/name/createThing',
            //         data: formData,
            //         // dataType: 'json',
            //         // processData: false,
            //         contentType: 'application/json',
            //         // mimeType: 'application/json',
            //         success: function (data) {
            //             // console.log(data , "1111111111");
            //             if (status.status==200) {
            //                // console.log("222222222222");
            //                  $('#modalPopup').modal('hide');
            //                 showMessage("Added successfully.", "success")
            //                 $('table > tbody > tr:first').before(data.content);
            //             }
            //             else
            //                  showMessage(data.message, "error")
            //             // showMessage("Added successfully.", "success")
            //                 // $('table > tbody > tr:first').before(data.content);
            //         },
            //         beforeSend: function () { $("#loader_pnl").show(); },
            //         complete: function () { $("#loader_pnl").hide(); }
            //     })
            // });
    });
</script>

