<!-- <div class="col-xs-10"  >
    <mat-card class="example-card">
        <mat-card-header>
      
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image 
        src="https://material.angular.io/assets/img/examples/shiba2.jpg" 
        alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>EDIT</button>
          <button mat-button>DELETE</button>
        </mat-card-actions>
      </mat-card>

</div>


-->


<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left"><strong>{{ModalHeader}}</strong></h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form
        (ngSubmit)="save(f)" 
        #f="ngForm" 
      >
      <div class="postsignup">
          <div class="error" *ngIf="postSubmit" >{{error}}</div>
    </div>
      <div class="form-group">
        <label for="title"><h5><strong>Title</strong></h5>

        </label>
        <input 
        type="text" 
        id="name" 
        name="title" 
        ngModel 
        [(ngModel)]="ModalInputTitleField"
        class="form-control input"
        required
        #title="ngModel"
        >
        <span 
        *ngIf="!title.valid && title.touched" 
        class="help-block">Enter Valid Input!</span>
      </div>
      <div class="form-group">
          <label for="value"><h5><strong>Value</strong></h5>
  
          </label>
          <input 
          type="text" 
          id="value" 
          name="value" 
          ngModel 
          [(ngModel)]="ModalInputField"
          class="form-control input"
          required
          #value="ngModel"
          >
          <span 
          *ngIf="!value.valid && value.touched" 
          class="help-block">Enter Valid Input!</span>
        </div>
      
      
        <div class="form-group">
          <input  
            style="margin-top: 10px;"
            type="file"  
            id="input-file" 
            class="inputfile inputfile-1" 
            name="categoryPic" 
            ngModel
            accept="image/*"
            (change)="onFileChange($event.target.files, i)"
          >
            
          <label for="input-file" > Image
            <img 
            id="blah" 
            [src]="displayImage"
            class="img-responsive img-rounded " 
            width="100" 
            height="100"
            >
          </label>
        </div>
    
        
      <div class="row">
          <button class="btn btn-modal" type="submit" >Save</button>
          <button class="btn btn-modal" type="button" (click)="modalRef.hide()" >Cancel</button>
      </div>
  </form>
    </div>
  </ng-template> 


<div class="row">
  <div class="col-xs-12 "
         style="margin-top:30px;
                width:90%">
      <div class="row list-inline">
          <h3 class="left">Merchants</h3>
          <button 
          (click)="openModal(template)"
          class="btn btn-rounded btnAdd right"
          >
          <i class="fa fa-plus"></i>
          Offers
        </button>
      </div>
  
      <section  *ngIf="isLoading">
          <div class="loading">Loading&#8230;</div>
      </section>
  
      <div class="row">
          <mat-card 
            *ngFor="let offer of offers;"
            class="example-card col-xs-4">
              <mat-card-header>
            
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image 
              src="https://material.angular.io/assets/img/examples/shiba2.jpg" 
              alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>EDIT</button>
                <button mat-button>DELETE</button>
              </mat-card-actions>
            </mat-card>
      </div>       
  </div>
</div>
  
  