<!-- <div class="row" style="margin-top: 60px;" >
  <div 
    class="col-xs-12 "> 
    <div class="row  col-xs-12 border">
 
    <div class="row" style="margin-top: 5px; margin-bottom: 5px;">      

      <form
      (ngSubmit)="addSubCategory(f)" 
      #f="ngForm" 
      >
      <div class="form-group">
      <label for="name">Category Name <span class="blue">*</span></label>
      <input 
      type="text" 
      id="name" 
      name="name" 
      ngModel 
      [(ngModel)]="this.currentSuperCategoryName"
      class="form-control input"
      required
      #name="ngModel"
      >
      <span 
      *ngIf="!name.valid && name.touched" 
      class="help-block">Enter Valid Input!</span>
      </div>
      <div 
        class="form-group">
        <label for="discription">Description</label>
        <input 
        type="text" 
        id="discription" 
        name="discription" 
        ngModel 
        [(ngModel)]="this.currentSuperCategoryDesc"
        class="form-control input"
        #discription="ngModel"
        >
        <span 
        *ngIf="!discription.valid && discription.touched " 
        class="help-block">Enter Valid Input!</span>
      </div>
      <div class="form-group">
        <input  
        type="file"  
        id="file-1" 
        class="inputfile inputfile-1" 
        name="category-pic" 
        ngModel
        accept="image/*"
        (change)="onFileChange($event.target.files)"
        >
        
        <label for="file-1">Upload Category Image
          <img 
          id="blah" 
          [src]="displayImage"
          class="img-responsive img-rounded " 
          width="100" 
          height="100"
          >
        </label>
        <p>Drag & Drop images, or browse from computer.</p>
      </div>
      <div class="row">
        <button 
            [disabled]="requestLoader === true"
            class="btn btn-modal" type="submit" >Add</button>
            <div 
                *ngIf="requestLoader"              
                id="preloader">
                  <div id="loader"></div>
            </div>
        <button 
            [disabled]="requestLoader === true"
            class="btn btn-modal" type="button" (click)="modalRef.hide()" >Cancel</button>
      </div>
      </form>
      
    
      </div>
    </div>       
  </div>
</div>  -->
<!-- <div class="row" >
  
  <div class="info col-xs-8"
       style="margin-top:60px;"> 
       <div class="row" style="text-align: center"><h1>Change Password</h1></div>

      <form 
      (ngSubmit)="changePassword(f)" 
      #f="ngForm" 
      class="login-form ">
      <div class="col-xs-12">
        <div class="postsignup">
            <div class="error" *ngIf="postSubmit" >{{error}}</div>
        </div>
      </div>


      <div class="col-xs-12">
        <div class="form-group">
          <label for="currentPwd" class="labelClass">Current Password</label>
          <input 
          type="password" 
          id="currentPwd" 
          name="currentPwd" 
          ngModel 
          class="form-control input"
          required
          #currentPwd="ngModel"
          placeholder="Enter Current Password"
          >
          <span 
          *ngIf="!currentPwd.valid && currentPwd.touched" 
          class="help-block">Enter Valid Input!</span>

          <span *ngIf="lengthErrorCurrent" 
              class="help-block">Minimum 6 Digits!</span>
        </div>
      </div>
     
      <div class="col-xs-12">
        <div class="form-group">
          <label for="newPassword" class="labelClass">New Password</label>
          <input 
          type="password" 
          id="newPassword" 
          name="newPassword" 
          ngModel 
          class="form-control input"
          required
          #newPassword="ngModel"
          placeholder="Enter New Password"
          >
          <span 
          *ngIf="!newPassword.valid && newPassword.touched" 
          class="help-block">Enter Valid Input!</span>
          <span *ngIf="lengthErrorNew" 
              class="help-block">Minimum 6 Digits!</span>
        </div>
      </div>


      <div class="col-xs-12">
        <div class="form-group">
          <label for="confirmPassword" class="labelClass">Confirm Password</label>
          <input 
          type="password" 
          id="confirmPassword" 
          name="confirmPassword" 
          ngModel 
          class="form-control input"
          required
          #confirmPassword="ngModel"
          placeholder="Rewrite Password"
          >
          <span 
          *ngIf="!confirmPassword.valid && confirmPassword.touched" 
          class="help-block">Enter Valid Input!</span>
          
          <span *ngIf="lengthErrorConfirm"
          class="help-block">Please Rewrite Same Password!</span>
        </div>
      </div>

    <div class="col-xs-12">
        <button class="btn btn-primary login-btn " type="submit" >Change Password</button>
    </div>  
    </form> 
  </div>
</div> 
   -->

<div class="row">  
    <div class="container">
        <section class="Enter_OTP">
            <div class="jumbotron mx-auto">
              <div class="logo">
                <img [src]="logoImage">
            </div>
              <h1>Change Password</h1>
              
              <form 
                (ngSubmit)="changePassword(f)" #f="ngForm">
                <div class="form-group">  
                    <label><strong>Current Password</strong></label>
                    <input 
                      type="password" 
                      id="currentPwd" 
                      name="currentPwd"  
                      ngModel 
                      class="inputField"
                      required
                      #currentPwd="ngModel"
                      placeholder="Enter Current Password"
                      >
                      <span 
                      *ngIf="(!currentPwd.valid && currentPwd.touched) || lengthErrorCurrent" 
                      style="color: var(--auth-forgot-pwd);">Enter Valid Input, Minimum 6 Digits!</span>
                </div>
                <div class="form-group">  
                  <label><strong>New Password</strong></label>
                  <input 
                    type="password" 
                    id="newPassword" 
                    name="newPassword"  
                    ngModel 
                    class="inputField"
                    required
                    #newPassword="ngModel"
                    placeholder="Enter New Password"
                    >
                    <span 
                    *ngIf="(!newPassword.valid && newPassword.touched) || lengthErrorNew" 
                    style="color: var(--auth-forgot-pwd);">Enter Valid Input, Minimum 6 Digits!</span>

                </div>
                <div class="form-group">  
                    <label><strong>Confirm New Password</strong></label>
                    <input 
                      type="password" 
                      id="confirmPassword" 
                      name="confirmPassword" 
                      ngModel 
                      class="inputField"
                      required
                      placeholder="Rewrite Password"
                      #confirmPassword="ngModel"
                      >
                      <span 
                      *ngIf="(!confirmPassword.valid && confirmPassword.touched) || lengthErrorConfirm" 
                      style="color: var(--auth-forgot-pwd);">Please Rewrite Same Password!</span>

                  </div>
                <button class="btn btn-primary" type="submit">Save</button>
              </form>       
           </div>
        </section>
          
      </div>
  
  </div> 

  <!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>