<!-- <div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li>
        <a 
        style="cursor: pointer"
        routerLink='/orders'>
      <i class="fa fa-list-ul fa-lg"></i> Orders
      </a>
    </li>
    <hr>
    <li  data-toggle="collapse" data-target="#products" class="collapsed active">
      <a 
      style="cursor: pointer"
      routerLink='/merchants'>
    <i class="fa fa-home fa-lg"></i> Merchants <span class="arrow"></span></a>
    </li>
    <hr>
    <ul class="sub-menu collapse" id="products">
      <li class="active"><a href="#">CSS3 Animation</a></li>
      <li><a href="#">General</a></li>
      <li><a href="#">Buttons</a></li>
      <li><a href="#">Tabs & Accordions</a></li>
      <li><a href="#">Typography</a></li>
      <li><a href="#">FontAwesome</a></li>
      <li><a href="#">Slider</a></li>
      <li><a href="#">Panels</a></li>
      <li><a href="#">Widgets</a></li>
      <li><a href="#">Bootstrap Model</a></li>
    </ul>

    <li data-toggle="collapse" data-target="#service" class="collapsed">
      <a href="#"><i class="fa fa-user fa-lg"></i> Customers <span class="arrow"></span></a>
    </li>  
    <ul class="sub-menu collapse" id="service">
      <li>New Service 1</li>
      <li>New Service 2</li>
      <li>New Service 3</li>
    </ul>
    <hr>
    <li data-toggle="collapse" data-target="#new" class="collapsed">
      <a href="#"><i class="fa fa-dashboard fa-lg"></i> Design <span class="arrow"></span></a>
    </li>
    <hr>
    <li>
      <a href="#">
      <i class="fa fa-cog fa-lg"></i> Setting
      </a>
    </li>
    <hr>
  </ul>
</div> -->

<!-- <nav 
   class="navbar navbar-default sidebar" 
   role="navigation">
    <div class="container-fluid">
    <div class="collapse navbar-collapse" 
    id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
        <a routerLink='/orders'>Orders
          <span 
            style="font-size:16px;" 
            class="pull-right hidden-xs showopacity glyphicon glyphicon-menu-hamburger"
          ></span></a></li>
        <li class="dropdown">
          <a routerLink='/merchants'
          class="dropdown-toggle" 
          data-toggle="dropdown">Merchants 
          <span class="glyphicon glyphicon-menu-down"></span>
          <span 
          style="font-size:16px;" 
          class="pull-right hidden-xs showopacity glyphicon glyphicon-home"
          ></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="#">Crear</a></li>
            <li><a href="#">Modificar</a></li>
            <li><a href="#">Reportar</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">Informes</a></li>
          </ul>
        </li>          
        <li ><a >Customers
          <span 
             style="font-size:16px;" 
             class="pull-right hidden-xs showopacity glyphicon glyphicon-user"
             ></span></a></li>        
        <li ><a >Design<span 
          style="font-size:16px;" 
          class="pull-right hidden-xs showopacity glyphicon glyphicon-dashboard"
          ></span></a></li>
        <li ><a >Setting<span 
          style="font-size:16px;" 
          class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"
          ></span></a></li>
      </ul>
    </div>
  </div>
</nav> -->


<!-- ===== -->

<!-- <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar 
      color="primary" 
      class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">ECommerce</h1>
  </mat-toolbar>

  <mat-sidenav-container 
  class="example-sidenav-container"
  [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav 
    #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" 
    fixedTopGap="56"
                 >
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
 -->






 <div 
 class="example-container" 
 [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">ECommerce</h1>
    
  </mat-toolbar>

  <mat-sidenav-container 
  class="example-sidenav-container"
                         
  [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav 
    #snav [mode]="mobileQuery.matches ? 'side' : 'over'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." 
        *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


