<!-- <div class="row" style="margin-top: 60px;">
    <div 
      class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"> 
      <div class="row  col-xs-8 col-xs-offset-2 border">
          <button 
          class="btn btn-default col-xs-6  "
          (click)="loginPage()"
          >Login</button>
          <button 
          class="btn btn-default col-xs-6"
          (click)="registerPage()"
          >Register</button>
  
       <div class="row" style="margin-top: 60px;">      
          <form (ngSubmit)="onSignin(f)" #f="ngForm" *ngIf="showLogin">
          <div class="form-group">
              <div class="postsignup">
                  <div class="error" *ngIf="postSubmit" >{{error}}</div>
              </div>
      
          <div class="postsignup">
              <div class="error" *ngIf="showMessage" >{{message}}</div>
          </div>
              <label for="email">Email</label>
              <input 
              type="text" 
              id="email" 
              name="email" 
              ngModel 
              class="form-control input"
              required
              placeholder="Enter Email Address"
              >
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input 
              type="password" 
              id="password" 
              name="password" 
              ngModel 
              class="form-control input"
              required
              placeholder="Enter Password"
              >
          </div>
          <button class="btn btn-primary login-btn" type="submit" >Sign In</button>
          <div style="text-align: center; margin-top: 5px;" class="row">
              <a routerLink="/forgot_password">Forgot Password</a>
          </div>
          </form> 
            
          <form 
          (ngSubmit)="onSignup(f)" 
          #f="ngForm"
          *ngIf =showRegister
          class="login-form ">
          <div class="col-xs-12">
            <div class="postsignup">
                <div class="error" *ngIf="postSubmit" >{{error}}</div>
            </div>
          </div>
    
    
          <div class="col-xs-12">
            <div class="form-group">
              <label for="email">Email</label>
              
              <input 
              type="text" 
              id="email" 
              name="email" 
              ngModel 
              class="form-control input valid"
              required
              email
              [(ngModel)]="newEmail"
              (input)="onSearchEmail($event.target.value)"
              #email="ngModel"
              placeholder="Enter Email Address"
              >
              <span 
              *ngIf="!email.valid && email.touched" 
              style="color: var(--auth-forgot-pwd);">Enter Valid Email Address!</span>
              <span 
              *ngIf="showErrorMsg" 
              style="color: var(--auth-forgot-pwd);">{{ErrorMsg}}</span>
            </div>
          </div>
          <div class="col-xs-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input 
            type="password" 
            id="password" 
            name="password" 
            ngModel 
            [(ngModel)]="newPwd"
            class="form-control input"
            required
            minlength="6"
            #pwd="ngModel"
            placeholder="Enter Password"
            >
            <span 
            *ngIf="!pwd.valid && pwd.touched " 
            style="color: var(--auth-forgot-pwd);">Minimum Length 6</span>
          </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input 
              type="text" 
              id="phoneNumber" 
              name="phoneNumber" 
              ngModel 
              [(ngModel)]="newNumber"
              class="form-control input"
              minlength="10"
              #phoneNumber="ngModel"
              placeholder="Enter Phone Number"
              >
              <span 
              *ngIf="!phoneNumber.valid && phoneNumber.touched " 
              style="color: var(--auth-forgot-pwd);">Enter Valid Phone Number</span>
            </div>
            </div>
    
        <div class="col-xs-12">
            <button class="btn btn-primary login-btn" type="submit" >Sign Up</button>
        </div>  
        </form> 
      
        </div>
      </div>       
    </div>
  </div>  -->
<div class="row login_signup" >
    <nav class="login">
        <div class="container">
          <div class="nav">
              <img [src]="logoImage">
          </div>
        </div>
    
      </nav>
      <div 
        *ngIf="requestSent"
        id="preloader">
        <div class="loader-main mx-auto">
          <img 
            [src]="loaderImage"
            style="max-height:80px; max-width:80px; float: left; margin-right: 15px;" 
            class="img-responsive"
            >
        </div>
      </div>

      <section class="form_sec">
          <div class="container">
            <div class="form">
                
                <ul class="tab-group">
                  <li 
                      class="tab"
                      [ngClass]="{'active': showLogin === true}"
                  ><a (click)="loginPage()">Log In</a></li>
                  <li 
                      [ngClass]="{'active': showRegister === true}"
                      class="tab "
                  ><a (click)="registerPage()">Sign Up</a></li>
                  
                </ul>
                
                <div class="tab-content">
                
                  
                  <div *ngIf="showLogin">   
                    
                    
                    <form (ngSubmit)="onSignin(f)" #f="ngForm">
                      <div class="field-wrap form-group">
                        <label
                          [ngClass]="{'active': emailInput === 1}"
                        >
                          Email 
                        </label>
                        <input 
                        type="email text"
                        required 
                        autocomplete="off"
                        name="email" 
                        ngModel 
                        [(ngModel)]="newEmail"
                        (click)="formEmailInput(1)"
                        (input)="onChangeValue($event.target.value, 'email')"
                        #email="ngModel"
                        email
                        />
                        <span 
                        *ngIf="(!email.valid && email.touched) || showErrorMsg " 
                        style="color: var(--auth-forgot-pwd);">{{ErrorMsg}}</span>
                      </div>
                    
                      <div class="field-wrap">
                        <label
                          [ngClass]="{'active': passwordInput === 1}"
                        >
                          Password
                        </label>
                        <input 
                        minlength="6"
                        type="password"
                        required 
                        autocomplete="off"
                        name="password" 
                        ngModel 
                        [(ngModel)]="newPwd"
                        (input)="onChangeValue($event.target.value, 'pwd')"
                        #pwd="ngModel"
                        />
                        <span 
                        *ngIf="(!pwd.valid && pwd.touched ) || pwdErrorMsg" 
                        style="color: var(--auth-forgot-pwd);">Minimum Length 6 Digits</span>
                      </div>

                      <p class="forgot"><a routerLink="/forgot_password">Forgot Password?</a></p>

                      <div class="postsignup">
                        <div class="error" *ngIf="postSubmit" >{{error}}</div>
                      </div>
                      <div align="center" class="submit_button">
                        <button class="button button-block" type="submit">Log In</button>
                      </div>
                    </form>

                  </div>
          
                    <div *ngIf =showRegister>   
                   
                    
                    <form (ngSubmit)="onSignup(f)" 
                          #f="ngForm">
          
                      <div class="field-wrap">
                        <label
                          [ngClass]="{'active': emailInput === 1}"
                        >
                          Email 
                        </label>
                        <input 
                            type="email"
                            required 
                            autocomplete="off"
                            name="email" 
                            ngModel 
                            required
                            email
                            [(ngModel)]="newEmail"
                            (input)="onSearchEmail($event.target.value)"
                            (input)="onChangeValue($event.target.value, 'email')"
                            #email="ngModel"
                        />
                        <span 
                        *ngIf="(!email.valid && email.touched) || showErrorMsg" 
                        style="color: var(--auth-forgot-pwd);">{{ErrorMsg}}</span>
                        <!-- <span 
                        *ngIf="showErrorMsg" 
                        style="color: var(--auth-forgot-pwd);">{{ErrorMsg}}</span> -->
                      </div>
                      
                      
                      <div class="field-wrap">
                        <label
                          [ngClass]="{'active': passwordInput === 1}"
                        >
                          Set A Password
                        </label>
                        <input 
                            name="password" 
                            ngModel 
                            [(ngModel)]="newPwd"
                            type="password"
                            required 
                            autocomplete="off"
                            (input)="onChangeValue($event.target.value, 'pwd')"
                            #pwd="ngModel"
                            minlength="6"
                            />
                            <span 
                            *ngIf="(!pwd.valid && pwd.touched ) || pwdErrorMsg" 
                            style="color: var(--auth-forgot-pwd);">Minimum Length 6 Digits</span>
                      </div>
          
                       <div class="field-wrap">
                        <label
                        [ngClass]="{'active': numberInput === 1}"
                        >
                          Mobile Number
                        </label>
                        <input 
                            type="number"
                            required 
                            autocomplete="off"
                            name="phoneNumber" 
                            ngModel 
                            [(ngModel)]="newNumber"
                            #phoneNumber="ngModel"
                            (input)="onChangeValue($event.target.value, 'no')"
                        />
                        <span 
                        *ngIf="(!phoneNumber.valid && phoneNumber.touched) || numberInvalid" 
                        style="color: var(--auth-forgot-pwd);">{{NumMsg}}</span>
                      </div>
          
                      <div class="terms">
                        <p style="color: var(--grey-five);">
                          For further details regarding privacy, please visit our 
                          <span style="color: var(--orange); font-weight:bold;">
                            Privacy Policy</span>.</p>
                        <!-- <form action="#"> -->
                        <span>
                          <!-- <input type="checkbox" name="terms" value="terms">  -->
                          <mat-checkbox
                              style="font-size: 18px; "
                              name="checkbox" 
                              ngModel 
                              required
                          ></mat-checkbox>
                          <span style="color: var(--orange);"> Accept </span> 
                          Terms of Services<br></span>

                          <span 
                          *ngIf="(!phoneNumber.valid && phoneNumber.touched) || acceptInvalid" 
                          style="color: var(--auth-forgot-pwd);">Please Accept Terms & Conditions. </span>
                        <!-- </form> -->
                      </div>
                      <div class="postsignup">
                        <div class="error" *ngIf="postSubmit" >{{error}}</div>
                      </div>
                       <div align="center" class="submit_button">
                          <button type="submit" class="button button-block">Get Started</button>
                      </div>
                    </form>
          
                  </div>
                  
                </div>
          </div> <!-- /form -->
          </div>
          </section>
</div>


<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
  crossorigin="anonymous"></script>

  