<div class="row" style="margin-top: 60px;">
    <div 
      class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"> 
      <div class="row  col-xs-8 col-xs-offset-2 border">
          <button 
          class="btn btn-default col-xs-6  "
          (click)="loginPage()"
          >Login</button>
          <button 
          class="btn btn-default col-xs-6"
          (click)="registerPage()"
          >Register</button>
  
       <div class="row" style="margin-top: 60px;">      
          <form (ngSubmit)="onSignin(f)" #f="ngForm" *ngIf="showLogin">
          <div class="form-group">
              <div class="postsignup">
                  <div class="error" *ngIf="postSubmit" >{{error}}</div>
              </div>
      
          <div class="postsignup">
              <div class="error" *ngIf="showMessage" >{{message}}</div>
          </div>
              <label for="email">Email</label>
              <input 
              type="email" 
              id="email" 
              name="email" 
              ngModel 
              class="form-control input"
              required
              email
              >
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input 
              type="password" 
              id="password" 
              name="password" 
              ngModel 
              class="form-control input"
              required
              >
          </div>
          <button class="btn btn-primary login-btn" type="submit" >Sign In</button>
          </form> 
          
          <form 
          (ngSubmit)="onSignup(f)" 
          #f="ngForm"
          *ngIf =showRegister
          class="login-form ">
          <div class="col-xs-12">
            <div class="postsignup">
                <div class="error" *ngIf="postSubmit" >{{error}}</div>
            </div>
          </div>
    
          <div class="col-xs-12">
            <div class="form-group">
              <label for="fname">Store Name</label>
              <input 
              type="text" 
              id="fname" 
              name="fname" 
              ngModel 
              class="form-control input"
              required
              #fname="ngModel"
              placeholder="Enter Store Name"
              >
              <span 
              *ngIf="!fname.valid && fname.touched" 
              class="help-block">Enter Valid Input!</span>
            </div>
          </div>
         
          <div class="col-xs-12">
            <div class="form-group">
              <label for="lname">Vendor name</label>
              <input 
              type="text" 
              id="lname" 
              name="lname" 
              ngModel 
              class="form-control input"
              required
              #lname="ngModel"
              placeholder="Enter Vendor Name"
              >
              <span 
              *ngIf="!lname.valid && lname.touched" 
              class="help-block">Enter Valid Input!</span>
            </div>
          </div>
    
          <div class="col-xs-12">
            <div class="form-group">
              <label for="email">Email</label>
              <input 
              type="text" 
              id="email" 
              name="email" 
              ngModel 
              class="form-control input"
              required
              email
              #email="ngModel"
              placeholder="Enter Email Address"
              >
              <span 
              *ngIf="!email.valid && email.touched" 
              class="help-block">Enter Valid Email Address!</span>
            </div>
          </div>
          <div class="col-xs-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input 
            type="password" 
            id="password" 
            name="password" 
            ngModel 
            class="form-control input"
            required
            minlength="6"
            #pwd="ngModel"
            placeholder="Enter Password"
            >
            <span 
            *ngIf="!pwd.valid && pwd.touched " 
            class="help-block">Minimum Length 6</span>
          </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input 
              type="text" 
              id="phoneNumber" 
              name="phoneNumber" 
              ngModel 
              class="form-control input"
              minlength="10"
              #phoneNumber="ngModel"
              placeholder="Enter Phone Number"
              >
              <span 
              *ngIf="!phoneNumber.valid && phoneNumber.touched " 
              class="help-block">Enter Valid Phone Number</span>
            </div>
            </div>
    
          <div class="col-xs-12">
              <div class="form-group">
                  <label for="url">Shop Url</label>
                  <input 
                  type="text" 
                  id="url" 
                  name="url" 
                  ngModel 
                  class="form-control input"
                  placeholder="Enter Shop Url"
                  >
                </div>
            </div>
        <div class="col-xs-12">
          <div class="form-group">
              <label for="address">Address</label>
              <input 
              type="text" 
              id="address" 
              name="address" 
              ngModel 
              class="form-control input"
              required
              autocorrect="off" 
              autocapitalize="off" 
              spellcheck="off" 
              #address="ngModel"
              #search
              >
              <span 
              *ngIf="!address.valid && address.touched " 
              class="help-block">Enter Valid Input!</span>
            </div>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-primary login-btn" type="submit" >Sign Up</button>
        </div>  
        </form> 
      
        </div>
      </div>       
    </div>
  </div> 
          



  