

















<!-- ======================================================== -->
<!-- dropdown nested lists -->
<!-- <div class="border-box" id="panels">
      <div  
        class="quarter-panel panel" 
        *ngFor="let super of superCategories;let i1 = index">
          <div 
          data-parent="#panels" 
          data-toggle="collapse" 
          [attr.data-target]="'#openPanel'+ i1" 
          class="row display-inline-mode"
          >
          <h4   
          [ngClass]="{'flipped': isActive[i1] }" 
          (click)="isActive=[];isActive[i1] = !isActive[i1];"
          >{{super.name}}</h4>  &nbsp;&nbsp;&nbsp;
          </div>
          <div class="collapse" id="openPanel{{i1}}">
              <div class="panel-body"
              *ngFor="let category of Categories;let i2 = index"
              (click)="listClick($event, category, i2)"
              >{{category.name}}
              <ul>
                <ng-template #recursiveList let-list>
                  <li *ngFor="let item of subCategories">
                    {{item.name}}
                  </li>
                </ng-template>
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
              </ul>
                
            
            
              </div>
          </div>
      </div>
    </div>
 -->

