<div class="row">
  <div class="col-xs-12">
    <div class="row">
        <div class="row left inline">
            <h3><i 
              class="fa fa-caret-left inline fa-lg"
              routerLink="/merchants/merchant/catalogue"
              ></i>Merchant Name</h3>
        </div>   
    </div>
  </div>

  <div class="col-xs-12">
    <div class="row info">
      <div class="col-xs-5">
        <img 
          [src]="productImage"
          alt="Product Image" 
          style="max-height:200px; max-width:200px;" 
          class="img-responsive">
      </div>
      <div class="col-xs-7">
          <div class="row heading">
            <h3>Product Heading</h3>
            <h3>Price: $6</h3>
          </div>
          <div class="row description">
            <p>
                xyzxyzxyzxyzxyzxyzxyxyzxyzxyzxyz
                xyzxyzxyzxyzxyzxyzxyzxyxyzxyzxyzxyzxyz
                xyzxyzxyzxyzxyzxyzxyzxyxyzxyzxyzxyzxyz
            </p>
          </div>
          <hr>
          <div class="row inventory">
            <h5>Inventory</h5>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
          </div>
          <hr>
          <div class="row addons">
              <h5>Varients/Add-ons</h5>
          </div>
          <div class="row listAddOns">
              <h6>No Varients / Add-ons Added</h6>
              <a>Add</a>
          </div>
          <hr>
      </div>
    </div>
  </div>
</div>